@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	margin-bottom: 0px;
	padding: 0;
}
.header {
	background-image: url(images/cashi.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #639B1B;
	width: 100%;
	height: 80px;
	padding-top: 5px;
}
.logo {
	margin-left: 5px;
	width: 100px;
	float: left;
}
.language {
	padding-top: 20px;
	margin-left: 5%;
	float: left;
	color: #007C3F;
}
.search {
	padding-top: 20px;
	margin-left: 7%;
	float: left;
	width: 150px;
}
.icon {
	margin-left: 15%;
	float: left;
	margin-top: 19px;
}
.search input {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.navigation-menu {
	padding-top: 20px;
	padding-right: 70px;
	float: right;
	color: #336600;
}
.menu1 {
	float: left;
	margin-right: 10px;
	float: inherit;
	padding-top: 20px;
}
.dropbtn1 {
	background-color: #7BA0A9;
	color: #336600;
	font-size: 20px;
	border: none;
	cursor: pointer;
}
.dropbtn1 a:link {
	color: #336600;
	text-decoration: none;
}
.dropbtn1 a:active {
	color: #336600;
}
.dropbtn1 a:visited {
	color: #336600;
}
.dropbtn1:hover, .dropbtn1:focus {
	background-color: #7BA0A9;
}
.dropdown1 {
	position: relative;
	display: inline-block;
}
.dropdown1 button {
	background-color:transparent;
}
.dropdown-content1 {
	display: none;
	position: absolute;
	background-color: #7BA0A9;
	min-width: 100px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content1 a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown1 a:hover {
	background-color: #7BA0A9;
}
.show1 {
	display: block;
}
.menu3 {
	float: left;
	margin-right: 10px;
	padding-top: 20px;
	color: #A8A8A8;
	font-size: 22px;
}
.menu3 a:link {
	color: #336600;
	text-decoration: none;
}
.menu3 a:active {
	color: #336600;
}
.menu3 a:visited {
	color: #336600;
}
.menu4 {
	float: left;
	margin-right: 10px;
	padding-top: 20px;
	color: #A8A8A8;
	font-size: 22px;
}
.menu4 a:link {
	color: #336600;
	text-decoration: none;
}
.menu4 a:active {
	color: #336600;
}
.menu4 a:visited {
	color: #336600;
}
.menu5 {
	float: left;
	margin-right: 10px;
	padding-top: 20px;
	color: #A8A8A8;
	font-size: 22px;
}
.menu5 a:link {
	color: #336600;
	text-decoration: none;
}
.menu5 a:active {
	color: #336600;
}
.menu5 a:visited {
	color: #336600;
}
.menu6 {
	float: left;
	margin-right: 10px;
	padding-top: 20px;
	color: #A8A8A8;
	font-size: 22px;
}
.menu6 a:link {
	color: #336600;
	text-decoration: none;
}
.menu6 a:active {
	color: #336600;
}
.menu6 a:visited {
	color: #336600;
}
.navigation-menu li {
	float: inherit;
	display: inline;
	color: #FFFFFF;
	padding-right: 20px;
	float: right;
	font-size: 18px;
}
.navigation-menu li a:link {
	color: #ffffff;
	text-decoration: none;
}
.navigation-menu li a:active {
	color: #ffffff;
}
.navigation-menu li a:visited {
	color: #ff55ff;
}
.navigation-menu li a:hover {
	color: #ffffff;
}
.container {
	background-image: url(images/bb.jpg);
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	height: 572px;
}
.side-bar {
	background-color: #639B1B;
	width: 20%;
	height: 550px;
}
.catagory {
	padding-top: 20px;
	color: #F6E5BA;
	float: left;
	font-size: 27px;
}
.menu-icon a:link {
	color: #ffffff;
	text-decoration: none;
}
.menu-icon a:active {
	color: #ffffff;
}
.menu-icon a:visited {
	color: #A8A8A8;
}
.side-menu a:hover {
	color: #ffffff;
}
.menu-icon {
	float: left;
	margin-top: 17px;
	margin-left: 20px;
}
.side-menu {
	list-style: none;
	color: #E0c077;
	margin-left: 35px;
	padding-top: 20px;
	clear: both;
}
.side-menu li {
	margin-top: 10px;
	font-size: 23px;
}
.side-menu li a:link {
	color: #ffffff;
	text-decoration: none;
}
.side-menu li a:active {
	color: #ffffff;
}
.side-menu li a:visited {
	color: #E0c077;
}
.side-menu li a:hover {
	color: #ffffff;
}
.blog {
	margin-top: -700px;
}
.b-container {
	height: 550px;
}
.select-menu {
	clear: both;
}
.blog1 {
	padding-top: 25px;
	padding-left: 240px;
	margin-left: 10px;
	margin-right: 20px;
	float: left;
}
.blog2 {
	padding-top: 13px;
	margin-left: 15px;
	margin-right: 20px;
	float: left;
	width: 200px;
	height: 210px;
}
.blog3 {
	padding-top: 13px;
	margin-left: 15px;
	margin-right: 20px;
	float: left;
	width: 200px;
	height: 210px;
}
.blog4 {
	padding-top: 13px;
	margin-left: 15px;
	margin-right: 20px;
	float: left;
	width: 200px;
	height: 210px;
}
.blog5 {
	padding-left: 340px;
	padding-top: 40px;
	margin-left: 15px;
	margin-right: 20px;
	float: left;
	width: 200px;
	height: 210px;
	clear: right;
}
.blog6 {
	padding-top: 30px;
	margin-left: 15px;
	margin-right: 20px;
	padding-top: 40px;
	float: left;
	width: 200px;
	height: 210px;
	clear: right;
}
.blog7 {
	padding-top: 30px;
	margin-left: 15px;
	margin-right: 20px;
	padding-top: 40px;
	float: left;
	width: 200px;
	height: 210px;
	clear: right;
}
.blog8 {
	padding-top: 30px;
	margin-left: 15px;
	margin-right: 20px;
	padding-top: 40px;
	float: left;
	width: 200px;
	height: 210px;
	clear: right;
}
.f-form {
	clear: both;
	margin-left: 500px;
	display: none;
}
.img {
	background-image: url(images/kib_krishi_sheba1.jpg);
	width: 350px;
	height: 225px;
	background-repeat: no-repeat;
	background-size: cover;
}
.paragraph {
	margin-top: -60px;
	margin-bottom: 5px;
	float: left;
	font-size: 16px;
	text-align-last: center;
	width: 200px;
}
.bistarito-img {
	float: left;
	width: 475px;
	height: 225px;
	background-repeat: no-repeat;
	background-size: cover;
}
.img1 {
	width: 250px;
	height: 225px;
	background-repeat: no-repeat;
	background-size: cover;
}
.img2 {
	width: 250px;
	height: 225px;
	background-repeat: no-repeat;
	background-size: cover;
}
.img3 {
	width: 250px;
	height: 225px;
	background-repeat: no-repeat;
	background-size: cover;
}
.img4 {
	width: 250px;
	height: 225px;
	background-repeat: no-repeat;
	background-size: cover;
}
.img5 {
	width: 250px;
	height: 225px;
	background-repeat: no-repeat;
	background-size: cover;
}
.img6 {
	width: 250px;
	height: 225px;
	background-repeat: no-repeat;
	background-size: cover;
}
.img7 {
	width: 250px;
	height: 225px;
	background-repeat: no-repeat;
	background-size: cover;
}
.headline {
	background-color: #0C9439;
	opacity: .9;
	margin-top: -250px;
	padding: 10px;
	clear: both;
	font-size: 24px;
	width: 450px;
	margin-left: 400px;
	float: left;
}
.ponno-name {
	color: #ffffff;
	text-shadow: #02531B;
}
.ponno-name1 {
	float: left;
	margin-left: 15px;
	margin-top: 10px;
}
.ponno-name1 button {
	background-color: #DBB56D;
	color: #ffffff;
	height: 30px;
	width: 80px;
}
.ponno-name2 {
	float: left;
	margin-left: 90px;
	margin-top: 10px;
}
.ponno-name2 button {
	background-color: #DBB56D;
	color: #ffffff;
	height: 30px;
	width: 80px;
}
.ponno-name3 {
	float: left;
	margin-left: 90px;
	margin-top: 10px;
}
.ponno-name3 button {
	background-color: #DBB56D;
	color: #ffffff;
	height: 30px;
	width: 80px;
}
.footer {
	background-image: url(images/cashi.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #639B1B;
	width: 100%;
	height: 65px;
	padding-top: 15px;
	clear: both;
	position: absolute;
	margin-top: 92px;
}
.footer-logo {
	margin-left: 5px;
	width: 100px;
	float: left;
}
.details {
	padding-top: 20px;
	margin-left: 10%;
	float: left;
}
